{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>Tohffa - {% block title %} {{ title }} {% endblock %}</title>
	{% else %}
		<title>Tohffa | Horn, Bone, Shell, Brass Products, Candle Stands, Jewellery Boxes, Decoratives | Handicratfs made in India</title>
	{% endif %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="Official website of Neelkanth Enterprises">
    <!-- Meta Description -->
    <meta name="description" content="Order Indian Handicrafts, Buy Handicrafts Items, Buy Horn Bone Items, Bulk Order horn, bone , shell, brass products, candle stands,jewellery boxes, multipurpose boxes and decoratives articles.">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Handicrafts Buy, Gifts Buy, Order Handmade Gifts Online, Tohffa, Handicratfs made in India, Horn, Bone, Shell, Brass Products, Candle Stands, Jewellery Boxes, Decoratives, Order Gifts Online, Bulk order Handicrafts, Order Tohffa online ">
    <!--CSS-->
    <!--bootstrap-->
	<link rel="stylesheet" type="text/css" href="{% static 'products/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
	<link rel="stylesheet" type="text/css" href="{% static 'products/style.css' %}">
</head>
<body>
		<div class="main-wrapper">
		<!--HEADER-->
		<div class="header clearfix">
			<div class="topBar">
				<div class="container">
					<div class="row">

						<div class="col-md-6 d-none d-md-block">
							<ul class="list-inline">
								<li><a href="https://www.facebook.com/neelkanth1973"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	                  			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	                 			<li><a href="https://www.linkedin.com/company/neelkanth-enterprises/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
						<div class="col-md-6 col-12">
							<ul class="list-inline float-right top-right">
								<li class="account-login">
									{% if user.is_authenticated %}
									<span>
									<a href="{% url 'profile' %}" >Profile</a> <h7 class="text-light"> | </h7> 
									<a href="{% url 'logout' %}" >logout</a>
									</span>
									{% else %}
									<span>
                                    <a href="{% url 'login' %}" style="padding: 0px;">Sign In</a>
									<h7 class="text-light"> | </h7> 
									<a href="{% url 'register' %}" style="padding: 0px;">Sign Up</a>
									</span>
									{% endif %}
								</li>
								   <li class="searchBox">
                    <a href="#"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                      	<span class="input-group">
							<form class="form-inline" role="search" action="/s/">
						      <input class="form-control searchbar" type="text" placeholder="Search" aria-label="Search" name= "search">
						      <button class="input-group-addon" type="submit">Search</button>
						    </form>
						</span>




                        
                        
                      </li>
                    </ul>
                  </li>
						<li class="dropdown cart-dropdown">
                    		<a href="{% url 'cart' %}" class="dropdown-toggle" >
                                <i class="fa fa-shopping-cart"></i>
                                <span class="badge badge-light">
                                   {% if not request.session.items_total %} 0 
                                   {% else %} 
                    			{{ request.session.items_total }}
                                    {% endif %}
                                 <!-- &#8377; 0 -->
                                </span>
                    		</a> 
                    	</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- NAVBAR -->
			<nav class="navbar navbar-main navbar-default navbar-expand-md" role="navigation">
				<div class="container">
					<a href="{% url 'tohffa-home' %}" class="navbar-brand">
						<img class="img-responsive" src="{% static 'img/logo.png' %}" height="55px"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button>

				<!--NAVLINKS--->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav ml-auto">
					  <!--	<li class="nav-item dropdown  active">
							<a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOME</a>
						</li>  -->
						<li class="nav-item dropdown megaDropMenu ">
                  			<a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">
                  				Products <i class="fa fa-angle-down" aria-hidden="true"></i></a></b></a>
									<ul class="dropdown-menu row">
									{% for producttype in producttypes %}
										<li class="col-md-3 col-12">
									
				                      <ul class="list-unstyled">
				                        <li><a href="{{ producttype.get_absolute_url }}">{{ producttype.title }}</a></li>
				                    


				                      </ul>

				                    </li>
				                    {% endfor %}



				                


                            <!--
				                    <li class="col-md-3 col-12">
				                      <ul class="list-unstyled">
				                        <li>Jewellery</li>
				                        <li class=""><a href="">Bangles</a></li>
				                        <li class=""><a href="">Neckleces</a></li>
				                        <li class=""><a href="">Ear-rings</a></li>
				                        <li class=""><a href="">Bracelets</a></li>
				                        <li class=""><a href="">Ring</a></li>
				                      </ul>
				                    </li>
				                    <li class="col-md-3 col-12">
				                      <ul class="list-unstyled">
				                        <li>Gift wares</li>
				                        <li class=""><a href="">Wedding</a></li>
				                        <li class=""><a href="">Birthday</a></li>
				                        <li class=""><a href="">Anniversaries</a></li>
				                        <li class=""><a href="">Kitty Parties</a></li>
				                        <li class=""><a href="">Others</a></li>
				                      </ul>
				                    </li>
				                -->
				                </ul>
						</li>
						<li class="nav-item dropdown ">
			                  <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">info <i class="fa fa-angle-down" aria-hidden="true"></i></a></a>
			                  <ul class="dropdown-menu dropdown-menu-left">
			                    <li class=""><a href="{% url 'tohffa-about' %}">About Us</a></li>
			                    <li class=""><a href="{% url 'register' %}">Register</a></li>
			                    <li class=""><a href="{% url 'login' %}">Login</a></li>
			                   <!-- <li class=""><a href="lost-password.html">Password Recovery</a></li> -->
			                    <li class=""><a href="{% url 'tohffa-return-policy' %}">Return Policy</a></li>
			                    <li class=""><a href="{% url 'tohffa-terms-and-conditions' %}">Terms &amp; Conditions</a></li>
			                  </ul>
			              </li>
			              <li class="nav-item dropdown ">
			                  <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <i class="fa fa-angle-down" aria-hidden="true"></i></a></a>
			                  <ul class="dropdown-menu dropdown-menu-right">
			                    <li class=""><a href="{% url 'profile' %}">Dashboard</a></li>
			                    <li class=""><a href="{% url 'profile' %}">Profile</a></li>
			                   <!-- <li class=""><a href="account-all-orders.html">Orders</a></li>
			                    <li class=""><a href="account-wishlist.html">Wishlist</a></li>
			                    <li class=""><a href="account-address.html">Address</a></li> -->
			                  </ul>
			                </li>
					</ul>
				</div>


				</div>
				
			</nav>

		</div>
	</div>

	
	
		

	<div class="col-md-8">
							{% if messages %}
								{% for message in messsages %}
									<div class="alert alert-{{ message.tags }}">
										{{ message }}
									</div>
								{% endfor %}

							{% endif %}


	</div>





							{% block content %}

                            {% endblock %}





<div class="mar">

</div>
<footer class="main-footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                 <div class=" col-lg-2 col-md-3 col-sm-6  col-xs-6 ">
                    <a href="{% url 'tohffa-home' %}" class="navbar-brand">
                        <img class="img-responsive" src="{% static 'img/logo_edited_new_white.png' %}" height="110px"></a>
                 </div>
                <div class=" col-lg-4 col-md-3 col-sm-6  col-xs-6 ">
                    <div class="footer-col">
                        <h4 class="footer-title pt-3">About us</h4>
                        <p class="text-warning" style="font-size: 13px;">Tohffa is the India's best collections of Bone, Horn, Shell, and Brass Fashion Jewellery and Handicrafts. Our key products 
                        include bone bangles, varieties of horn items, brass products and shell items.   </p>
                    </div>
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4 col-xs-6 " >
                    <div class="footer-col">
                        <h4 class="footer-title pt-3">Accessories</h4>
                        <ul class="list-unstyled footer-nav">
                            <li><a href="#">
                               Bone Items
                            </a></li>
                            <li><a href="#">
                                Horn Items</a></li>
                            <li><a href="#">
                                Jewellery
                            </a></li>
                            <li><a href="#">Brass Ware
                            </a></li>
                            <li><a href="#">
                                Gift Ware
                            </a></li>

                        </ul>
                    </div>
                </div>
                <div class=" col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="footer-col">
                        <h4 class="footer-title pt-3">Help</h4>
                        <ul class="list-unstyled footer-nav">
                            <li><a href="#">FAQs
                            </a></li>

                            <li><a href="#"> Orders
                            </a></li>
                            <li><a href="#"> Privacy Policy
                            </a></li>
                            <li><a href="#"> Return Policy </a></li>
                            <li><a href="#">
                                Contact Us
                            </a></li>

                        </ul>
                    </div>
                </div>
              
                <div class=" col-lg-2 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-col row">
                        <div class="col-sm-12 col-xs-6 col-xxs-12 no-padding-lg pt-3">
                            <h4 class="footer-title">connect with us</h4>
                            <ul class="list-unstyled list-inline footer-nav social-list footer-nav-inline">
                                <li><a title="Facebook" data-placement="top" data-toggle="tooltip" href="#"><i
                                        class="fa fa-facebook"></i> </a></li>&nbsp;&nbsp;
                                <li><a title="Twitter" data-placement="top" data-toggle="tooltip" href="#"><i
                                        class="fa fa-twitter"></i> </a></li>&nbsp;&nbsp;
                                <li><a title="Google+" data-placement="top" data-toggle="tooltip" href="#"><i
                                        class="fa fa-instagram"></i> </a></li>&nbsp;&nbsp;
                                <li><a title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i
                                        class="fa fa-linkedin"></i> </a></li>&nbsp;&nbsp;
                                <li><a title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i
                                        class="fa fa-phone"></i> </a></li>&nbsp;&nbsp;
                                <li><a title="Linkedin" data-placement="top" data-toggle="tooltip" href="#"><i
                                        class="fa fa-envelope"></i> </a></li>&nbsp;&nbsp;
                               
                            </ul>
                        </div></div>
<!--
                        <div class="col-sm-12 col-xs-6 col-xxs-12">

                            <div class="pt-4">
                                <h4 class="footer-title no-margin">  Newsletter sign up </h4>
                               
                                <form class="form-horizontal">
                                    <fieldset>

                                        
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="search input-group" role="search" id="newsletter-signup">
                                                    <input type="search" class="form-control"
                                                           placeholder="Enter  your email address">
                                    			<span class="input-group-btn">
                                    				<button class="btn btn-default" type="button">
                                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                                        <span class="sr-only">GO</span>
                                                    </button>

			                                       </span>
                                                </div>
                                                <p class="help-block hide">help message or error message</p>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                                   
                            </div>
                        </div>
                    </div>-->
                </div> 
                <div style="clear: both"></div>

                <div class="col-lg-12 col-sm-12 col-md-12 p-4" >
                    <!--
                    <div class=" text-center paymanet-method-logo">

                        <img src="images/site/payment/master_card.png" alt="img">
                        <img alt="img" src="images/site/payment/visa_card.png">
                        <img alt="img" src="images/site/payment/paypal.png">
                        <img alt="img" src="images/site/payment/american_express_card.png"> <img alt="img"
                                                                                                 src="images/site/payment/discover_network_card.png">
                        <img alt="img" src="images/site/payment/google_wallet.png">
                    </div>
-->
                    <div class="copy-info text-center text-light">
                       Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tohffa 
                       <!--
                       <br>
                       <br>
                       Made with <i class="fa fa-heart" aria-hidden="true"></i> by Neelkanth Enterprises -->
                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>	
<!--FOOTER-
<footer class="footer-area">
  <div class="container">
    <div class="row">
    	 <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-col">
                <h6>About Us</h6>
                    <p class="text-warning">
                       Tohffa is the India's best collections of Bone, Horn, Shell, and Brass Fashion Jewllery and Handicrafts.  
                    </p>
            </div>
          </div>
                   
    <div class="col-lg-3 col-md-6 col-sm-6 address">
            <div class="single-footer-widget">


              <h6>Links</h6>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li><a href="#" class="p-2 text-warning shop">Profile</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Orders</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Return Policy</a></li>
                         <li><a href="#" class="p-2 text-warning shop">FAQs</a></li>
                          <li><a href="#" class="p-2 text-warning shop">Terms & Conditions</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li><a href="#" class="p-2 text-warning shop">Jewellery</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Gift Items</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Handicrafts</a></li>
                      </ul>
                   </div> 
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 address">
            <div class="single-footer-widget">


              <h6>Categories</h6>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li><a href="#" class="p-2 text-warning shop">Bone Items</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Horn Items</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Jewellery</a></li>
                         <li><a href="#" class="p-2 text-warning shop">Brass Ware</a></li>
                          <li><a href="#" class="p-2 text-warning shop">Gift ware</a></li>
                      </ul>
                    </div>
                  --  <div class="col">
                      <ul>
                        <li><a href="#" class="p-2 text-warning shop">Jewellery</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Gift Items</a></li>
                        <li><a href="#" class="p-2 text-warning shop">Handicrafts</a></li>
                      </ul>
                   </div> --
                  </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6 text-white address">
                         <div class="single-footer-widget align-items-center">
                               <h6>Address</h6>
                               <p class="text-warning">
                               Neelkanth Enterprises<br>
                               Sarai Tareen, Sambhal<br>
                               Uttar Pradesh (244303), India
                               <br><br>
                             <i class="fa fa-phone"></i>  +91 9837140318<br>
                          	 <i class="fa fa-envelope" aria-hidden="true"></i><a href="#" class="p-2 text-warning shop">info@tohffa.in</a><br>
                             <i class="fa fa-globe" aria-hidden="true"></i><a href="#" class="p-2 text-warning shop">www.tohffa.in</a>
                               </p>
                         </div>
                   </div>
               


                     </div>
                   </div>
                   <br>
                   <p class="pt-3 text-left text-white ">
                   
                   </p>


  </div>
</footer>
<table width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0" style="background-color: #252525;">
	<tr>
	<td id="footer" class="text-light ">
		<span>
			<small>
		Copyright &copy; <script>document.write(new Date().getFullYear());</script><p class="text-warning">Tohffa. </p> All rights reserved</small>
	</span></td>

            <ul class="d-flex flex-wrap">
                  <li><a href="https://www.facebook.com/neelkanth1973" class="p-2 text-warning "><i class="fa fa-facebook"></i></a></li>
                  <li class=" text-warning " style="margin-right: 10px;"><i class="fa fa-instagram"></i></li>
                  <li class=" text-warning "><a href="https://www.linkedin.com/company/neelkanth-enterprises/" class=" text-warning "><i class="fa fa-linkedin"></i></a></li>
                  <li class=" text-warning " style="margin-left: 10px;"><i class="fa fa-twitter"></i></li>
             </ul>
               
	</tr>
</table> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'products/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'products/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'products/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'products/main.js' %}"></script>	
	
  <script type="text/javascript" src="{% static 'products/owl.carousel.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'products/bootstrap.bundle.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'products/holder.min.js' %}"></script>
</body>
</html>