{% extends "products/base.html" %}
{% block content %}
	
<!-- about -->
<section id="about">
    <div class="container">
        <div class="text-wrap">
            <div class="page-header text-center space-top-30">
                <h3>Return Policy</h3>
            </div><!-- / page-header -->
            <p class="large-p">Neelkanth Enterprises is a pioneering manufacturer and exporter of horn, bone, shell, brass products, candle stands, jewellery boxes, multipurpose boxes and decorative articles available in trendy styles and patterns. The company has shown its expertise and experience in producing optimum quality products at affordable prices. </p>
            <div class="page-header text-center space-top-30">
                <h3>Products</h3>
            </div><!-- / page-header -->
            <p class="large-p">Our products are top-notch in their segments. We have created a range where style is merged with utility. We have given them the deserved attention by crafting our range of articles. We offer a wide range of world-class products. All the products are fully chemically treated that makes them germ free and usable for a long time.</p>
             <h5> Horn & Bone Products - </h5>
            This is our specialized product category and we are able to provide to top of the class horn & bone products, as a result of years of R & D. The products are, 
              <br>
              <ul>
                <li>Beads, Buttons and Toggles</li>
                <li> Horn Combs </li>
                <li> Horn Cutlery & Bowles</li>
                <li> Bone Jewellery Boxes </li>
                <li>Photo Frames</li>
                <li>Faishon Jewellery</li>
              </ul>
              <br>
                 <h5>Brass & Shell Products  </h5>
            A wide range of brass & shell items using 100% brass is manufactured in a mother of pearl setting. 
              <br>
              <ul>
                <li>Ashtrays</li>
                <li>Flower vases  </li>
                <li>Ornament boxes</li>
                <li>Bone Jewellery Boxes </li>
                <li>Candle Holders</li>
                <li>Bowls & Decorative figures like torotise, elephent, horse, duck, etc.</li>
              </ul> 
              <br>
              <h5>Miscellaneous Products </h5>
                  There is a wide range of high-class decorative and luxurious items. The products are,
                  <ul>
                    <li>Copper Braclets</li>
                    <li>Smoking Pipes</li>
                  </ul>

                  <div class="page-header text-center space-top-30">
                <h3>Infrastructure</h3>
            </div>
               <p class="large-p">The company boasts of a sound infrastructure and has a dedicated and professionally trained workforce that gets together as a cohesive unit. We are a small scale industry situated at Saraitareen the famous art place for horn craft in India, which is approx. 160 km from New Delhi. 

A lot of planning and precision goes into the manufacturing of our products. We have been the pioneers in using the marvels of new age technology. Our enriching work environment does wonders for our trained and committed workforce. We do a lot of trend analysis, which has helped us in bolstering our industry position.
 
</p>
               <div class="page-header text-center space-top-30">
                <h3>Quality</h3>
            </div>
               <p class="large-p">At Neelkanth Enterprises, quality is a way of life. Quality is not a relative factor for us as we have helped in establishing the standards of this industry. We vigilantly follow internationally recognized standards and specifications. 

We use a comprehensive quality control system to ensure 100% perfection in our products. 
</p>
 <div class="page-header text-center space-top-30">
                <h3 class="p-2">Contact Details</h3>
            </div>
 <p class="large-p p-2 text-center">
NEELKANTH ENTERPRISES
<br>
Neelkanth House ,Sajipura road <br>
Sarai Tareen, Sambhal. <br>
Dist. Moradabad U.P. INDIA<br>
<br>
Email - neelkanth@bsnl.in <br> 

Phone – 0091 -5923-273648 <br>
Mobile -0091 9837140318 <br>
Fax – 0091 -5923 -272548 <br>
</p>


        </div><!-- / text-wrap -->
    
    </div><!-- / container -->
</section>
<!-- / about -->




{% endblock content %}

